* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Cabin', sans-serif;
}

header {
  background: #492C79;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  font-weight: 600;
  overflow: hidden;
}

header > div > a > img {
  height: 6vh;
}

.navbar {
  color: white;
  display: flex;
  gap: 30px;
}

main {
  background: #dad4e4;
  color: #150d24;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 80vh;
  overflow: hidden;
  padding-top: 10px;
  width: 100vw;
}

.leftside > label {
  align-self: flex-start;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #492C79;
}

.input:hover, .input:focus {
  background: #492C79;
  color: white;
  border: 2px solid #00c9a8;
}

textarea {
  width: 100%;
  text-align: left;
  color: #492c79;
  min-width: 30vw;
  max-width: 30vw;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.rightside {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-top: 30px;
  height: 3rem;
  width: 8rem;
  background: #492C79;
  border: 2px solid #492C79;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: large;
}

button:hover {
  background: #331e54;
  border: 2px solid #00c9a8;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}

.flavours {
  padding-bottom: 15px;
  align-self: flex-start;
  width: 100%;
}

.flavours > p {
  padding-bottom: 10px;
  font-weight: 600;
}

.topings {
  align-self: flex-start;
  width: 100%;
}

.topings > p {
  padding-bottom: 10px;
  font-weight: 600;
}

.flavour, .toping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.flavour > p {
  opacity: .5;
}

.toping > p {
  opacity: .5;
}

footer {
  background: #00c9a8;
  color: #150d24;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launchx {
  font-weight: 800;
}

.info {
  display: flex;
  gap: 20px;
}

.submitmsg {
  font-size: 7rem;
}